+b.page-top
  +e.inner
    +e.text
      +b('h1').title Automated Performance Advertising
      +b('a')(href="#get_a_demo").btn-default.btn Get Started!
    +e.video
      span.wistia_embed.wistia_async_b49mzuapfp(class='popover=true popoverContent=link', style='display:inline')
        a(href='#', style='display:block; height:100%')
      script(src='https://fast.wistia.com/embed/medias/b49mzuapfp.jsonp', async='')
      script(src='https://fast.wistia.com/assets/external/E-v1.js', async='')