.page-top {
  position: relative;
  min-height: 895px;
  width: 100%;
  padding-top: 233px;
  @include linear-gradient(to bottom, $blue-F0, $white);
  @media #{$M_SM2} {
    padding-top: 105px;
  }
  @media #{$M_XS} {
    min-height: 645px;
  }
  &:before {
    content:'';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-image: url(../images/bg_graph.png);
    @include image-2x('../images/bg_graph.png', auto, auto);
    z-index: 1;
    @media #{$XX_LRG} {
      -webkit-background-size: cover;
      background-size: cover;
    }
    @media #{$M_XS} {
      background-position: 50% 50%;
    }
  }
  &__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    z-index: 2;
    @media #{$M_XLG2} {
      max-width: 1024px;
      padding: 0 30px;
    }
    @media #{$M_SMX} {
      max-width: 100%;
    }
    @media #{$M_SM2} {
      justify-content: center;
      flex-wrap: wrap;
    }
  }
  &__text {
    width: 100%;
    max-width: 600px;
    margin-top: 31px;
    padding-right: 2em;
    @media #{$M_SM2} {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      max-width: 100%;
      padding-right: 0;
    }
    & .title {
      line-height: 69px;
      font-size: 50px;
      font-family: $font-Montserrat-Medium;
      color: $gray-4B;
      @media #{$M_SM2} {
        font-size: 35px;
        text-align: center;
        line-height: 1.3em;
      }
    }
    & .btn-default {
      display: inline-block;
      height: 65px;
      width: auto;
      margin-top: 54px;
      padding: 0 35px;
      line-height: 65px;
      text-decoration: none;
      font-size: 24px;
      font-family: $font-Montserrat-Medium;
      background-color: $yellow-FF;
      color: $white;
      -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.14);
      -moz-box-shadow:    0px 10px 30px 0px rgba(0, 0, 0, 0.14);
      box-shadow:         0px 10px 30px 0px rgba(0, 0, 0, 0.14);
      &:active {
        background-color: $orange-F9;
      }
      @media #{$M_XS} {
        margin-top: 40px;
      }
    }
  }
  &__video {
    height: 317px;
    width: 465px;
    min-width: 465px;
    @include border-radius(20px);
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-image: url(../images/video-bg.png);
    -webkit-background-size: contain;
    background-size: contain;
    background-color: $blue-F5;
    overflow: hidden;
    cursor: pointer;
    -webkit-box-shadow: 0px 10px 44px 0px rgba(17, 70, 96, 0.14);
    -moz-box-shadow:    0px 10px 44px 0px rgba(17, 70, 96, 0.14);
    box-shadow:         0px 10px 44px 0px rgba(17, 70, 96, 0.14);
    @media #{$M_SM2} {
      margin-top: 40px;
    }
    @media #{$M_X3S} {
      height: 176px;
      width: 260px;
      min-width: 260px;
    }
    & span {
      display: inline;
      & a {
        display: block;
        height: 100%;
      }
    }
  }
}