+b.header-wr
  +b('header').header
    +e('a')(href="./index.html").logo

    +b.hdr-nav
      +e.item
        a(href="index.html#run_ads") Run Ads
      +e.item
        a(href="./monetize.html") Monetize Website & App
      +e.item
        a(href="index.html#make_ad_network") Make Ad Network
      +e.item
        a(href="https://admachine.co/blog/") Blog
      +e.item.extra
        a(href='https://app.admachine.co/#/signup') Sign Up
        |  /  
        a(href='https://app.admachine.co/#/login') Sign In
    +b.mobile-menu-trigger
      span
      span
      span