+b.content-secondary
    //- +b.inner-wr
    //-   +b.sub-title-wr
    //-     +b('h3').title Monetize Your Website and Apps
    //-     p With AdMachine you can monetize a website or mobile app and regular payouts.

    //- +b.offer-bl
    //-   +e.item.col-1
    //-     +b.pic
    //-     +b('h4').title Attractive eCPMs
    //-     +b.text Thousands of advertisers copete on price. Traffic goes to highest bids first.

    //-   +e.item.col-2
    //-     +b.pic
    //-     +b('h4').title Easy to Use Ad Codes/SDKs
    //-     +b.text Select ad format, get a code and place it to your website or app. You can start monetizing your traffic source in minutes. 

    //-   +e.item.col-3
    //-     +b.pic
    //-     +b('h4').title On Time Payouts
    //-     +b.text Get paid 2 times a month via bank transfer.

    +b.inner-wr
      +b.sub-title-wr.secondary
        +b('h3').title Ad Formats
        p
          | Every possible RTB format on one platform. Advertisers can run campaigns using these ad formats. 
          br
          |  Desktop and mobile inventory is available.

    +b.inner-wr
      +b.format-bl
        +e.item.col-1
          +b.pic
          +b.title Display
          +b.text Top apps and websites worldwide. Banner & full screen formats.
          +b.text-secondary Promote products and get app installs!

        +e.item.col-2
          +b.pic
          +b.title Native Ads
          +b.text Quality websites worldwide. High CTR Native ads units.
          +b.text-secondary Increase engagement of your websites and apps!

        +e.item.col-3
          +b.pic
          +b.title Pop
          +b.text Transparent traffic in volumes. Pop-up, pop-under, interstitial / full screen ad formats.
          +b.text-secondary Top apps and websites worldwide. Banner and full screen formats.

    +b.form-wr#crmWebToEntityForm
      +b('form')(action='https://crm.zoho.eu/crm/WebToLeadForm' name='WebToLeads26076000000635110' method='POST' onSubmit='javascript:document.charset="UTF-8"; return checkMandatory()' accept-charset='UTF-8').form
        +b.form-anchor#get_a_demo
        // Do not remove this code.
        input(type="text" style='display:none;' name='xnQsjsdp' value='7355b0063de6fc6c9f89b25eb0939a70f00f1259c4917e5ed15fe59a91b41783')
        input(type='hidden' name='zc_gad' id='zc_gad' value='' )
        input(type='text' style='display:none;' name='xmIwtLD' value='b0edb8ce90533135772a0bc87cef0b7803bda743172398973dcc5234115d054a')
        input(type='text' style='display:none;' name='actionType' value='TGVhZHM=')
        input(type='text' style='display:none;' name='returnURL' value='https://admachine.co/new/thanks.html')
        // Do not remove this code.

        +b.title-wr
          +b.subtitle.gray Any questions left?
          +b.subtitle Let's schedule a call!

        +b.section-label
          +b.section-title PERSONAL INFORMATION

          +b.input-section
            //- +b.label.input-label
            //-   +b('p').input-title First Name
            //-     span *
            //-   input(type="text" required name="First Name").form-input

            +b.label.input-label
              +b('p').input-title Name
                span *
              input(type="text" required name="Last Name").form-input

            +b.label.input-label
              +b('p').input-title Website
                span *
              input(type="text" required name="Website").form-input

            +b.label.input-label.test
              +b('p').input-title Email
                span *
              input(type="email" required name="Email").form-input

            +b.label.input-label.test
              +b('p').input-title Phone
                span *
              input(type="text" required name="Phone").form-input

            +b.label.textarea-label
              +b('p').input-title How we can help?
              textarea(name="Description").form-input

            .label(style="display: none;").input-label.long
              select.form-input(name='LEADCF2')
                option(value='Platform.IO') Plaftorm.IO
                option(selected='', value='Admachine') Admachine

        +b.section-label
          +b.section-title CAPTCHA

          +b.captcha-label
            +e.item
              img(src='https://crm.zoho.eu/crm/CaptchaServlet?formId=b0edb8ce90533135772a0bc87cef0b7803bda743172398973dcc5234115d054a&grpid=7355b0063de6fc6c9f89b25eb0939a70f00f1259c4917e5ed15fe59a91b41783')#imgid
            +e.text
              p Can’t read the security code? #[a(href="javascript:;" onclick="reloadImg()") Reload]

          +b.label.input-label
            +b('p').input-title Security code
              span *
            input(type="text" required name='enterdigest').form-input

          +b.btn-wr
            +b('button').btn-default.form-btn Get a Demo
        script.
          var mndFileds=new Array('Last Name','Email','Phone','Website','Description');
          var fldLangVal=new Array('Name','Email','Phone','Website','How we can help');
          var name='';
          var email='';
          /* Do not remove this code. */
          function reloadImg() {
          if(document.getElementById('imgid').src.indexOf('&d') !== -1 ) {
          document.getElementById('imgid').src=document.getElementById('imgid').src.substring(0,document.getElementById('imgid').src.indexOf('&d'))+'&d'+new Date().getTime();
          }  else {
          document.getElementById('imgid').src = document.getElementById('imgid').src+'&d'+new Date().getTime();
          }
          }
          function checkMandatory() {
          for(i=0;i<mndFileds.length;i++) {
          var fieldObj=document.forms['WebToLeads26076000000635110'][mndFileds[i]];
          if(fieldObj) {
          if (((fieldObj.value).replace(/^\\s+|\s+$/g, '')).length==0) {
          if(fieldObj.type =='file')
          {
          alert('Please select a file to upload.');
          fieldObj.focus();
          return false;
          }
          alert(fldLangVal[i] +' cannot be empty.');
          fieldObj.focus();
          return false;
          }  else if(fieldObj.nodeName=='SELECT') {
          if(fieldObj.options[fieldObj.selectedIndex].value=='-None-') {
          alert(fldLangVal[i] +' cannot be none.');
          fieldObj.focus();
          return false;
          }
          } else if(fieldObj.type =='checkbox'){
          if(fieldObj.checked == false){
          alert('Please accept  '+fldLangVal[i]);
          fieldObj.focus();
          return false;
          }
          }
          try {
          if(fieldObj.name == 'Last Name') {
          name = fieldObj.value;
          }
          } catch (e) {}
          }
          }
          }

      // Do not remove this code
      <iframe name='captchaFrame' style='display:none;'></iframe>
      
      +b('div')#make_ad_network


    +b.page-bottom
      +b.inner-wr
        +b.sub-title-wr
          +b('h3').title AdMachine for Ad Networks
          p If you have an established advertising network with advertisers and publishers you can use AdMachine to upgrade your business with new capabilities. Let’s connect and discover how we can add value to your business.