+b('footer').footer
  +e.inner-wr
    +b.footer-nav
      +e.item
        a(href="http://docs.admachine.co/" target="_blank") Knowledge Base
      +e.item
        a(href="http://admachine.co/terms_of_service.html" target="_blank") Terms of Service
      +e.item
        a(href="http://admachine.co/privacy_policy.html" target="_blank") Privacy Policy
      +e.item
        a(href="mailto:support@admachine.co") Support@admachine.com

    +b.footer-social
      +e('a')(href="https://www.linkedin.com/company/admachine" target='_blank').item.linkedin
      +e('a')(href="https://www.facebook.com/admachine.co/" target='_blank').item.facebook
      +e('a')(href="https://twitter.com/AdmachineCo" target='_blank').item.twitter
      +e('a')(href="https://www.youtube.com/channel/UCFeISwOUxa07d9yfURSFarA" target='_blank').item.youtube