+b.thanks-wr
  +e.inner
    +e.item
      +b.text-wr
        +b('h1').title Thank you!
        p It’s great, that you are interested in #[b Admachine.co]. You will receive an email with an invitation to a demo shortly.
        br 
        p Let’s discover the possibilities.
      +b.pic-wr
    +b('a')(href="./index.html").btn.content-btn Go back to the main page