+b.main-content#run_ads
  +b.content-item.pic-1
    +e.inner
      +b('h2').mobile-title.title Performance Advertising at Scale
      +e.pic-bl
      +e.text-bl
        +b('h2').title Performance Advertising at Scale
        p Reach 750+ Millions of Mobile Web, In-App and Desktop Users Worldwide. Run Display, Video, Native & Pop Ads. Convert your campaign optimization expertise into automation scenarios.
        +b('ul').text-bl-list
          +e.item Instant access to 50+ Ad Networks and SSPs
          +e.item Advanced targeting
          +e.item Fast ads approval
          +e.item Built-in fraud prevention and safety filters
          +e.item Conversion and ROI tracking
          +e.item Rule-based Optimization Engine
        +b('a')(href="https://app.admachine.co/#/signup").btn-default.content-btn Sign Up

  +b.content-item.pic-R.pic-2
    +e.inner
      +b('h2').mobile-title.title Publisher-Safe Monetization
      +e.pic-bl
      +e.text-bl
        +b('h2').title Publisher-Safe Monetization
        p Monetize your website or mobile application with our SSP. Sell your traffic by yourself or let others do it for you.
        +b('ul').text-bl-list
          +e.item Major Ad Verification Vendors
          +e.item Variety of inventory connection options
          +e.item Top Demand Partners and high eCPMs
          +e.item Display, Video, Native and Pop format
          +e.item Easy launch
          +e.item Twice a month payouts
        +b('a')(href="./monetize.html").btn-default.content-btn Monetize

  +b.content-item.pic-3
    +e.inner
      +b('h2').mobile-title.title White Label Solution for Ad Networks
      +e.pic-bl
      +e.text-bl
        +b('h2').title White Label Solution for Ad Networks
        p Start your own advertising business with our White Label DSP and SSP solutions.
        +b('ul').text-bl-list
          +e.item 24/7 Monitored Reliable Infrastructure
          +e.item High supply volume instantly available
          +e.item Fast SSPs and DSPs integrations
          +e.item Premium Support
          +e.item Customizable UI
          +e.item Custom Domain
          +e.item Ad Network Migration Help
        +b('a')(href="https://app.admachine.co/#/signup" onclick="amplitude.logEvent('Landing page - Sign up clicked'); ga('send', 'event', 'Button', 'Click', 'Top Button'); yaCounter36931065.reachGoal('Button_Click'); return true;").btn-default.content-btn Sign Up