.main-content {
  display: flex;
  flex-wrap: wrap;
  padding-top: 233px;
  padding-bottom: 235px;
  @media #{$M_SMX} {
    padding-top: 60px;
    padding-bottom: 50px;
  }
  & .content-item {
    position: relative;
    width: 100%;
    margin-top: 39px;
    padding-bottom: 550px;
    @media #{$M_SMX} {
      padding-bottom: 300px;
    }
    @media #{$M_XS} {
      width: 100%;
      padding-bottom: 150px;
      margin-top: 20px;
      padding-left: 30px;
      padding-right: 30px;
    }
    &:last-of-type {
      padding-bottom: 0;
      &:after {
        display: none;
      }
    }
    &:first-of-type {
      margin-top: 0;
    }
    &:after {
      content:'';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 395px;
      width: 100%;
      background-position: 0 0;
      background-repeat: no-repeat;
      background-image: svg-load('../images/wave-content.svg');
      -webkit-background-size: cover;
      background-size: cover;
      @media #{$M_SMX} {
        background-position: 0 100%;
        height: 300px;
        -webkit-background-size: contain;
        background-size: contain;
      }
      @media #{$M_XS} {
        height: 130px;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: 0 0;
      }
    }
    &.pic-R {
      & .content-item__pic-bl {
        order: 2;
        @media #{$M_XS} {
          order: 1;
        }
        &:before {
          right: 0;
          bottom: 0;
        }
      }
      & .content-item__text-bl {
        order: 1;
        @media #{$M_XS} {
          order: 2;
          width: 100%;
        }
      }
    }
    &.pic-1 {
      & .content-item__pic-bl {
        &:before {
          height: 394px;
          width: 465px;
          bottom: -10px;
          left: 15px;
          background-image: url(../images/demand.png);
          @include image-2x('../images/demand_@2x.png', contain, contain);
          -webkit-background-size: contain;
          background-size: contain;
          @media #{$M_SM2X} {
            left: 0;
            bottom: 0;
          }
          @media #{$M_SM2} {
            height: 100%;
            width: 100%;
          }
        }
      }
    }
    &.pic-2 {
      & .content-item__text-bl {
        padding-right: 0;
        width: 48.5%;
        @media #{$M_XS} {
          width: 100%;
        }
      }
      & .content-item__pic-bl {
        width: 51.5%;
        @media #{$M_XS} {
          width: 100%;
        }
        &:before {
          height: 386px;
          width: 100%;
          bottom: -10px;
          left: 0;
          background-image: url(../images/supply.png);
          background-position: 88px -5px;
          @include image-2x('../images/supply_@2x.png', contain, contain);
          -webkit-background-size: contain;
          background-size: contain;
          @media #{$M_SM2X} {
            left: 0;
            bottom: 0;
            background-position: 0 0;
          }
          @media #{$M_SM2} {
            height: 100%;
          }
        }
      }
    }
    &.pic-3 {
      & .content-item__pic-bl {
        &:before {
          height: 400px;
          width: 100%;
          bottom: 0;
          left: -18px;
          background-image: url(../images/white_label.png);
          background-position: 0 0;
          @include image-2x('../images/white_label_@2x.png', contain, contain);
          -webkit-background-size: contain;
          background-size: contain;
          @media #{$M_SM2X} {
            left: 0;
            bottom: 0;
          }
          @media #{$M_SM2} {
            height: 100%;
            width: 100%;
          }
        }
      }
    }
    &__inner {
      display: flex;
      width: 100%;
      max-width: 1080px;
      margin: 0 auto;
      @media #{$M_SM2X} {
        max-width: 1024px;
        padding: 0 15px;
      }
      @media #{$M_SMX} {
        max-width: 904px;
      }
      @media #{$M_XS} {
        flex-wrap: wrap;
        padding: 0;
      }
    }
    &__pic-bl {
      position: relative;
      left: 0;
      bottom: 0;
      width: 55.5%;
      @media #{$M_XS} {
        height: 260px;
        width: 100%;
        margin-top: 45px;
      }
      @media #{$M_X3S} {
        height: 210px;
      }
      &:before {
        content:'';
        display: block;
        position: absolute;
        background-repeat: no-repeat;
        @media #{$M_XS} {
          height: 100%;
          width: 100%;
          background-position: 50% 50% !important;   
        }
      }
    }
    & .title {
      display: block;
      font-family: $font-Montserrat-SemiBold;
      font-size: 32px;
      color: $gray-4B;
      line-height: 36px;
      @media #{$M_XS} {
        display: none;
        font-size: 26px;
      }
      &.mobile-title {
        display: none;
        width: 100%;
        text-align: center;
        @media #{$M_XS} {
          display: block;
        }
      }
    }
    &__text-bl {
      width: 44.5%;
      padding-right: 60px;
      font-family: $font-OpenSans-SemiBold;
      font-size: 18px;
      color: $gray-72;
      @media #{$M_XS} {
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
        align-items: center;
        width: 100%;
        margin-top: 15px;
        font-size: 17px;
        padding-right: 0;
      }
      & p {
        margin-top: 18px;
        line-height: 28px;
        @media #{$M_XS} {
          width: 100%;
          max-width: 500px;
          font-size: 17px;
          line-height: 1.4em;
        }
      }
    }
    & .text-bl-list {
      margin-top: 30px;
      font-family: $font-OpenSans-SemiBold;
      @media #{$M_XS} {
        width: 100%;
        max-width: 500px;
      }
      &__item {
        position: relative;
        margin-bottom: 13px;
        padding-left: 18px;
        line-height: 1.1em;
        &:before {
          content:'';
          display: block;
          position: absolute;
          top: 8px;
          left: 0;
          height: 7px;
          width: 7px;
          background-color: $gray-CD;
          @include border-radius(100%);
        }
      }
    }
    &.pic-R {
      &__text-bl {
        padding-right: 0;
      }
    }
  }
}
.content-btn {
  display: block;
  width: 196px;
  margin-top: 47px;
  padding: 0 15px;
  text-align: center;
  line-height: 55px;
  text-decoration: none;
  font-size: 20px;
  font-family: $font-Montserrat-SemiBold;
  background-color: $blue-DB;
  color: $blue-28;
  &:active {
    background-color: $blue-D0;
  }
  &:hover {
    text-decoration: none;
    color: $blue-28;
  }
  @media #{$M_XS} {
    margin: 30px auto 0;
  }
}