extends _layouts/default.pug

block content
  +b.page-wr
    include _partials/header/header
    include _partials/page-top/page-top
    include _partials/main-content/main-content
    include _partials/content-secondary/content-secondary
    include _partials/footer/footer